.details-info

    .details-info-item
        .details-info__header About us
        .details-info__description Lorem ipsum, libero et lictus molesie, turpis mi sagittis nisl, a scelerisque leo nulla et lectus pendisse dicturn posuere elit, in congue nisl varius quis lentesque a tellus eget quam varius aliquet.
        .details-info__description Pellentesque tristigue, libero et luctus molestue, turpis mi sagittis nisi, a sceferisque leo nulla etlectus pendosse dictum posuere elit, in congue nisl varius quis lenegsque a tellus eget quam varius aliguet.
        .details-info__description Vet lobortis gravida. Coursus in dapibus ultrices velit fusce. Felis lacus erat.

    .details-info-item
        .details-info__header News
        .details-info__date 3 january 2012
        .details-info__description.details-info__description_blue Fermentum parturient lacus tristique habitant nullam morbi t ordio mus dicum tellus erat.
        .details-info__date 2 january 2012
        .details-info__description.details-info__description_blue Cras ac henderit dui Duis lacus ligula, luctus ac tristique eget pscue id erat.
        .details-info__date 1 january 2012
        .details-info__description.details-info__description_blue Lorem ipsum, libero et lictus molesie, turpis mi sagittis nisl, a scelerisque leo nulla et lectus p

    .details-info-item
        .details-info__header Newsletter
        .details-info__description Cursus in dapibus ultrices velit fusce. Felis lacus erat. Fermentum perurient lacus tristique abitant nullam morbi et odio nibh mus distum tellius erat.
        form(class="details-info__form")     
            input.details-info__input(type="text" placeholder="Enter your email address..." name="search")
            i.fa.fa-chevron-right
        .details-info__message
            img.details-info__icon(alt="logo" src="images/icon-email.svg")
            .details-info__text Vel lobortis gravida. Cursus in dapibus ultrices velit fusce. Felis lacus erat.