.wrapper
    .info-container
        .info-container__item
            .info-container__price
                img.info-container__img-back(alt="logo" src="images/bg.svg")
                img.info-container__img(alt="logo" src="images/sale-icon.svg")
            .info-container__text
                .info-container__first Best price
                .info-container__second this week
    
        

        .info-container__item
            img.info-container__img-one(alt="logo" src="images/breez-small.svg")
            .info-container__text
                .info-container__first News smells
                .info-container__second in the next series


        .info-container__item
            .info-container__natural
                img.info-container__img-back(alt="logo" src="images/bg2.svg")
                img.info-container__img(alt="logo" src="images/scan.svg")
            .info-container__text
                .info-container__first Only natural
                .info-container__second air fresheners

