
.header
   .header__item1
      img(class="header__logo" alt="logo" src="images/logo.svg")
      p(class="header__text") Online Store Theme

   .header__item2
      form(class="header__form")     
         input.header__input(type="text" placeholder="Search entire store here..." name="search")
         i.fa.fa-search
   .header__item3
      a(href='javascript:void(0)' class='header__link' target='_blank') My account 
      p.header__line |
      a(href='javascript:void(0)' class='header__link' target='_blank') My Wishilist 
      p.header__line |
      a(href='javascript:void(0)' class='header__link' target='_blank') Log In 
      p.header__line |
      a(href='javascript:void(0)' class='header__link' target='_blank') Sign Up
      button.header__button 
         img(class="header__icon" alt="logo" src="images/bag.svg")
         p.header__text-cart  Cart $0.00


 



