.slider-section
    .slider
        .slider-section__item
            .slider-section__breeze-photo
            .slider-section__text
                .slider-section__header Breeze Noticeables
                .slider-section__description1 The new series of natural air fresheners. 
                .slider-section__description2 Febreze Noticeables Meadows & Rain 
                .slider-section__description3 Air Fresherner Refill

    .slider
        .slider-section__item
            .slider-section__breeze-photo
            .slider-section__text
                .slider-section__header Breeze Noticeables
                .slider-section__description1 The new series of natural air fresheners. 
                .slider-section__description2 Febreze Noticeables Meadows & Rain 
                .slider-section__description3 Air Fresherner Refill
    .slider
        .slider-section__item
            .slider-section__breeze-photo
            .slider-section__text
                .slider-section__header Breeze Noticeables
                .slider-section__description1 The new series of natural air fresheners. 
                .slider-section__description2 Febreze Noticeables Meadows & Rain 
                .slider-section__description3 Air Fresherner Refill





