.socials-container
    .socials-container__item1
        .socials-container__author &#169 Breeze Store Theme, 2012
    .socials-container__item2
        a(class="socials-container__icons-twitter" href="https://twitter.com/")
        a(class="socials-container__icons-face" href="https://uk-ua.facebook.com/")
        a(class="socials-container__icons-google" href="https://www.pinterest.com/")
        
        
