.best-sallers
    .best-sallers__item1 
        .best-sallers__header Featured Products
        .best-sallers__button-nav
            button.best-sallers__button_prev 
            button.best-sallers__button_next 
    
    hr.best-sallers__hr
    
    .wrapper 

        .best-sallers__sale
            img.best-sallers__sale-img(alt="logo" src="images/img-sale.svg")
            h2 SALE
        .best-sallers__item2
            .best-sallers__container
                
                .best-sallers__img-cont
                    img.best-sallers__img5(alt="logo" src="images/new-air5.gif")
                .best-sallers__text Air Wick Scented Oil Warmer
                .best-sallers__buttons
                    button.best-sallers__button_price $250.00   
                        strong $325.000
                   
                    button.best-sallers__button
                        img.best-sallers__icon-transfer(alt="logo" src="images/transfer.svg")               
                    button.best-sallers__button.best-sallers__button_line
                        img.best-sallers__icon-heart(alt="logo" src="images/heart.svg")
                    button.best-sallers__button.best-sallers__button_grey
                        img.best-sallers__icon-cart(alt="logo" src="images/cart.svg")
                        img.best-sallers__icon-add(alt="logo" src="images/add.svg")


        .best-sallers__item2
            .best-sallers-container  
                .best-sallers__img-cont
                    img.best-sallers__img6(alt="logo" src="images/new-air6.png")
                .best-sallers__text Freshmatic Ultra Automatic Spray Starte Kit
                .best-sallers__buttons
                    button.best-sallers__button_price $177.00  
                    button.best-sallers__button
                        img.best-sallers__icon-transfer(alt="logo" src="images/transfer.svg")               
                    button.best-sallers__button.best-sallers__button_line
                        img.best-sallers__icon-heart(alt="logo" src="images/heart.svg")
                    button.best-sallers__button.best-sallers__button_grey
                        img.best-sallers__icon-cart(alt="logo" src="images/cart.svg")
                        img.best-sallers__icon-add(alt="logo" src="images/add.svg")

        .best-sallers__sale
            img.best-sallers__sale-img(alt="logo" src="images/img-sale.svg")
            h2 SALE
        .best-sallers__item2
            .best-sallers-container
                .best-sallers__img-cont
                    img.best-sallers__img7(alt="logo" src="images/new-air7.gif")
                .best-sallers__text Home Luminary Refills Anjou Pear Spice
                .best-sallers__buttons
                    button.best-sallers__button_price $143.00  
                        strong $250.000
                   
                    button.best-sallers__button
                        img.best-sallers__icon-transfer(alt="logo" src="images/transfer.svg")               
                    button.best-sallers__button.best-sallers__button_line
                        img.best-sallers__icon-heart(alt="logo" src="images/heart.svg")
                    button.best-sallers__button.best-sallers__button_grey
                        img.best-sallers__icon-cart(alt="logo" src="images/cart.svg")
                        img.best-sallers__icon-add(alt="logo" src="images/add.svg")


        .best-sallers__item2
            .best-sallers-container
                
                .best-sallers__img-cont
                    img.best-sallers__img8(alt="logo" src="images/new-air8.svg")
                .best-sallers__text Paddywax Fragrance Diffuser Set, Gardenia Tuberose
                .best-sallers__buttons
                    button.best-sallers__button_price $173.00  
                    button.best-sallers__button
                        img.best-sallers__icon-transfer(alt="logo" src="images/transfer.svg")               
                    button.best-sallers__button.best-sallers__button_line
                        img.best-sallers__icon-heart(alt="logo" src="images/heart.svg")
                    button.best-sallers__button.best-sallers__button_grey
                        img.best-sallers__icon-cart(alt="logo" src="images/cart.svg")
                        img.best-sallers__icon-add(alt="logo" src="images/add.svg")


        