
.title-section
    .title-section__item1
        img(class="title-section__message" alt="logo" src="images/phone.svg")
        .title-section__address-email Call Us   +777  (100)  1234


    .title-section__item2
        p.title-section__welcome Welcome visitor you can 
        a(href='javascript:void(0)' class='title-section__login' target='_blank') login 
        p.title-section__welcome or 
        a(href='javascript:void(0)' class='title-section__login' target='_blank') create an account.



    .title-section__item3
        button.title-section__button.title-section__button_hover EN
        button.title-section__button FR
        button.title-section__button GM
        button.title-section__button-money.title-section__button-money_position.title-section__button_hover $
        button.title-section__button-money €
        button.title-section__button-money ₴
