.best-sallers
    .best-sallers__item1 
        .best-sallers__header Best Sellers
        .best-sallers__button-nav
            button.best-sallers__button_prev 
            button.best-sallers__button_next 
    
    hr.best-sallers__hr
    
    .wrapper 
        .best-sallers__sale
            img.best-sallers__sale-img(alt="logo" src="images/img-sale.svg")
            h2 SALE
        .best-sallers__item2
        
            .best-sallers__container
               
                .best-sallers__img-cont
                    img.best-sallers__img1(alt="logo" src="images/new-air.gif")
                .best-sallers__text Febreze Air Effects New Zealand Springs
                .best-sallers__buttons
                    button.best-sallers__button_price $550.00  
                        strong $725.000
                    button.best-sallers__button
                        img.best-sallers__icon-transfer(alt="logo" src="images/transfer.svg")               
                    button.best-sallers__button.best-sallers__button_line
                        img.best-sallers__icon-heart(alt="logo" src="images/heart.svg")
                    button.best-sallers__button.best-sallers__button_grey
                        img.best-sallers__icon-cart(alt="logo" src="images/cart.svg")
                        img.best-sallers__icon-add(alt="logo" src="images/add.svg")


        .best-sallers__item2
            .best-sallers__container
                
                .best-sallers__img-cont
                    img.best-sallers__img2(alt="logo" src="images/new-air2.png")
                .best-sallers__text Febreze Noticeables 2 Refills
                .best-sallers__buttons
                    button.best-sallers__button_price $399.00  
                    button.best-sallers__button.best-sallers__button_line
                        img.best-sallers__icon-transfer(alt="logo" src="images/transfer.svg")               
                    button.best-sallers__button.best-sallers__button_line
                        img.best-sallers__icon-heart(alt="logo" src="images/heart.svg")
                    button.best-sallers__button.best-sallers__button_grey
                        img.best-sallers__icon-cart(alt="logo" src="images/cart.svg")
                        img.best-sallers__icon-add(alt="logo" src="images/add.svg")




        .best-sallers__sale
            img.best-sallers__sale-img(alt="logo" src="images/img-sale.svg")
            h2 SALE
        .best-sallers__item2
            .best-sallers-container
                
                .best-sallers__img-cont
                    img.best-sallers__img3(alt="logo" src="images/new-air3.svg")
                .best-sallers__text Beanpod Candles Orange Vanilla, Tea Light
                .best-sallers__buttons
                    button.best-sallers__button_price $330.00   
                        strong $499.000
                    button.best-sallers__button.best-sallers__button_line
                        img.best-sallers__icon-transfer(alt="logo" src="images/transfer.svg")               
                    button.best-sallers__button
                        img.best-sallers__icon-heart(alt="logo" src="images/heart.svg")
                    button.best-sallers__button.best-sallers__button_grey
                        img.best-sallers__icon-cart(alt="logo" src="images/cart.svg")
                        img.best-sallers__icon-add(alt="logo" src="images/add.svg")


        .best-sallers__item2
            .best-sallers-container
                
                .best-sallers__img-cont
                    img.best-sallers__img4(alt="logo" src="images/new-air4.png")
                .best-sallers__text Linen & Sky Air Freshener Refill
                .best-sallers__buttons
                    button.best-sallers__button_price $173.00  
                    button.best-sallers__button
                        img.best-sallers__icon-transfer(alt="logo" src="images/transfer.svg")               
                    button.best-sallers__button
                        img.best-sallers__icon-heart(alt="logo" src="images/heart.svg")
                    button.best-sallers__button.best-sallers__button_grey
                        img.best-sallers__icon-cart(alt="logo" src="images/cart.svg")
                        img.best-sallers__icon-add(alt="logo" src="images/add.svg")


        