.link-section
    .link-section__item1
        a(href='javascript:void(0)' class='link-section__link' target='_blank').link-section__link_hover HOME
        a(href='javascript:void(0)' class='link-section__link' target='_blank') SOLIDS
        a(href='javascript:void(0)' class='link-section__link' target='_blank') LIQUIDS
        a(href='javascript:void(0)' class='link-section__link' target='_blank') SPRAY
        a(href='javascript:void(0)' class='link-section__link' target='_blank') ELECTRIC
        a(href='javascript:void(0)' class='link-section__link' target='_blank') FOR CABS

