.footer
    .footer__item
        .footer__header Contact us
        hr.footer__hr
        .footer__address
            img(class="footer__adress-img" alt="logo" src="images/pin.svg")
            .footer__text 49 Archdale, 28 Charleston
        .footer__phone
            img(class="footer__phone-img" alt="logo" src="images/icon-phone.svg")
            .footer__text +777 (100) 1234
        .footer__message
            img(class="footer__message-img" alt="logo" src="images/Email.png")
            .footer__text mail@example.com

    .footer__item
        .footer__header Information
        hr.footer__hr
        a(href='javascript:void(0)' class='footer__link' target='_blank') About Us
        a(href='javascript:void(0)' class='footer__link' target='_blank') Privacy Policy
        a(href='javascript:void(0)' class='footer__link' target='_blank') Terms & Conditions
        a(href='javascript:void(0)' class='footer__link' target='_blank') Security payment

    .footer__item
        .footer__header Costumer Service
        hr.footer__hr
        a(href='javascript:void(0)' class='footer__link' target='_blank') Contact Us
        a(href='javascript:void(0)' class='footer__link' target='_blank') Return
        a(href='javascript:void(0)' class='footer__link' target='_blank') FAQ
        a(href='javascript:void(0)' class='footer__link' target='_blank') Site Map

    .footer__item
        .footer__header My Account
        hr.footer__hr
        a(href='javascript:void(0)' class='footer__link' target='_blank') My Account
        a(href='javascript:void(0)' class='footer__link' target='_blank') Order History
        a(href='javascript:void(0)' class='footer__link' target='_blank') Wish List
        a(href='javascript:void(0)' class='footer__link' target='_blank') Newsletter
