doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Breeze
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700")
    link(rel='stylesheet', href='./css/all.css')
    link(href="https://fonts.googleapis.com/css?family=Bitter|Fira+Sans" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css' integrity='sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=' rel='stylesheet' crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha256-zUQGihTEkA4nkrgfbbAM1f3pxvnWiznBND+TuJoUv3M=" crossorigin="anonymous")
    script(defer src="js/index.js")
  body
    include componets/title-section/title-section.pug
    include componets/header/header.pug
    include componets/link-section/link-section.pug
    include componets/slider-section/slider-section.pug
    include componets/info-container/info-container.pug
    include componets/best-sallers/best-sallers.pug
    include componets/products/products.pug
    include componets/details-info/details-info.pug
    include componets/footer/footer.pug
    include componets/socials-container/socials-container.pug




   


