@media (min-width: 1024px) and (max-width: 1200px) {
	.wrapper {
		flex-wrap: wrap;
   }
}
@media (min-width: 768px) and (max-width: 1023px) {
	.wrapper {
		flex-wrap: wrap;
   }
	.title-section{
		flex-wrap:wrap;
		height: auto !important;
		padding-bottom:20px;
   }
	.header{
		flex-wrap:wrap;
		height: auto !important;
		padding-bottom:20px;
   }
	.info-container{
		flex-wrap:wrap;
		height: auto !important;
		padding-bottom:20px;
		justify-content:center !important ;
   }
	.best-sallers-item2{
		margin-top:20px;
   }
	.footer{
		flex-wrap:wrap;
		height: auto !important;
		padding-bottom:20px;
   }
	.footer-item{
		margin-bottom:20px;
   }
	.details-info__input{
		width:80% !important;
   }
	.fa-chevron-right{
		margin-right:50px !important;
   }
	.details-info__text{
		padding-right:10px;
   }
	.slick-dots{
		margin-left:70% !important;
   }
	.slider-section__text{
		padding-right:10px;
   }
}
@media (min-width: 310px) and (max-width: 767px) {
	.wrapper {
		flex-wrap: wrap;
		display:flex;
		justify-content: center !important;
   }
	.title-section{
		flex-wrap:wrap;
		height: auto !important;
		padding-bottom:20px;
		width: auto;
		padding-top:20px;
		justify-content:center ;
   }
	.header{
		flex-wrap:wrap;
		height: auto !important;
		padding-bottom:20px;
		width: auto;
   }
	.header__input{
		width: 87% !important;
   }
	.header__item3{
		flex-wrap:wrap;
		height: auto !important;
		padding-bottom:20px;
		width: auto;
   }
	.title-section__item2{
		display: none !important;
   }
	.link-section__item1{
		flex-wrap:wrap;
		height: auto !important;
		padding-bottom:20px;
		width: auto;
   }
	i.fa.fa-search{
		display: none;
   }
	.slider-section{
		display: none !important;
   }
	.info-container{
		flex-wrap:wrap;
		height: auto !important;
		padding-bottom:20px;
		justify-content:center !important ;
   }
	.best-sallers-item2{
		margin-top:20px;
   }
	.footer{
		flex-wrap:wrap;
		height: auto !important;
		padding-bottom:20px;
   }
	.footer-item{
		margin-bottom:20px;
   }
	.details-info__input{
		width:80% !important;
   }
	.fa-chevron-right{
		margin-right:50px !important;
   }
	.details-info__text{
		padding-right:10px;
   }
	.footer__item{
		margin-top:20px;
   }
	.details-info{
		flex-wrap:wrap;
		height: auto !important;
		padding-bottom:20px;
   }
}
