@import "_variable";
@import "adap";
@import "../componets/footer/footer";
@import "../componets/header/header";
@import "../componets/title-section/title-section";
@import "../componets/link-section/link-section";
@import "../componets/slider-section/slider-section";
@import "../componets/info-container/info-container";
@import "../componets/best-sallers/best-sallers";
@import "../componets/details-info/details-info";
@import "../componets/footer/footer";
@import "../componets/socials-container/socials-container";





body{
	background:white;
	box-sizing:border-box;
	padding:0;
	margin:0;
	}







